
*{
    margin: 0;
}
body{
    height: 100vh;
}

header{
    position:absolute;
    padding-top: 24px;
    padding: 1.25em;
    top:0;   
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 40px;
    }
}

//homepage
.homepage-container{
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .homepage-title{
        color:white;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: #D0D6F9;
        font-weight: normal;
        text-align: center;
        margin-bottom: 1.5em;
    
    
         span{
            font-size: 2rem;
            display: block;
            text-align: center;
            font-size: 80px;
            color: #FFFFFF;
            font-family: 'Bellefair', serif;
            margin-top: 0.3em;
            letter-spacing: 0;
        }
    }

    .homepage-content{
        
        font-family: 'Barlow', sans-serif;
        color: #D0D6F9;
        text-align: center;
        font-size: 15px;
        margin: 0 10px;
        line-height: 25px;
        letter-spacing: 0;
        margin-bottom: 90px;
    }

    .mainpage-btn{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bellefair', serif;
        font-size: 20px;
        letter-spacing: 1.25px;
        line-height: 23px;
        color:#0B0D17;
        border: none;
        text-transform: uppercase;

    }
}

.mobile-nav{
    z-index: 1000;
  
}
nav{
    position: absolute;
    width: 70%;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    
}
nav ul {

    color: white;
    height: 100vh;   
    padding-top: 118px;
    text-decoration: none;

    li{
        text-decoration: none;
        list-style-type: none;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        margin-bottom: 32px;
        color: white;
    }
    a{text-decoration: none;}
}

h1{
    color: white;
}
.num{
    font-weight: bold;
}


//destination page

.destination-content{
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    color: white;
    text-align: center;
    .destination-title{
        margin-top: 5em;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: bold;
        margin-bottom: 2.75em;
        span{
            opacity: 0.25;
            margin-right: 10px;
        }
    }

    .destination-pic{
        width: 60%;
        margin-bottom: 1em;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1.5em;
        padding: 0;
    }
    li{
        list-style-type: none;
        color: #D0D6F9;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 3px;   
        text-transform: uppercase;
        font-size: 18px;
    }
    .title{
        text-transform: uppercase;
        font-size: 56px;
        font-family: 'Bellefair', serif;
        margin-bottom: 0.2em;
        font-weight: normal;
    }
    .description{
        font-size: 15px;
        line-height: 25px;
        color: #D0D6F9;
        padding-bottom: 2em;
        border-bottom: 1px solid #383B4B;
        margin-bottom: 1.5em;   
    }

    footer{
        text-transform: uppercase;

        h3{
            font-size: 14px;
            margin-bottom: 0.5em;
            color: #D0D6F9;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2.3625px;
        }

        h2{
            font-size: 28px;
            margin-bottom: 1em;
            font-family: 'Bellefair', serif;
            color: white;
            font-weight: 400;
        }
    }
}


